---
---

@import "../_sass/mixins";
@import "../_sass/colors";
@import "../_sass/fonts";
@import "../_sass/animation";
@import "../_sass/icons";

@mixin mask($name, $position) {
  mask-image: url("../assets/#{$name}");
  -webkit-mask-image: url("../assets/#{$name}");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  @if $position == "center" {
    mask-position: center center;
    -webkit-mask-position: center center;
  }
  @if $position == "left" {
    mask-position: left center;
    -webkit-mask-position: left center;
  }
}

body {
  background: $dark;
  margin: 0;
  color: $light;
  @include fontSize1;
  max-width: 1800px;
}

h2 {
  @include fontSize2;
  margin-bottom: 10px;
  font-weight: 300;
  font-style: italic;
}

a {
  color: $accent;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  &:hover {
    border-color: $accent;
  }
}

input, textarea, button {
  @include fontSize1;
}

.centered {
  padding: 80px 10px 20px;
  max-width: 700px;
  margin: 0 auto;
  @include breakpoint(s) {
    padding-top: 40px;
  }
}

#intro {
  @include fontSize3;
  .name {
    font-weight: 700;
    font-size: inherit;
  }
  .is {
    font-style: italic;
  }
  .transitionItem {
    color: $accent;
    display: none;
    &.show {display: inline-block};
  }
  height: 180px;
  @include breakpoint(s) {
    height: 160px;
  }
}

.section {
  margin-bottom: 100px;
  li {
    padding-left: 20px;
    margin-bottom: 10px;
    list-style-type: none;
  }
  @include breakpoint(s) {
    margin-bottom: 80px;
    li {margin-bottom: 15px; padding-left: 0;}
  }
}

.contact {
  margin-bottom: 80px;
  .hidden {height: 0; visibility: hidden;}
  textarea {
    &::placeholder {
      color: $light;
      opacity: .5;
    }
    outline: none; 
    background: transparent; 
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 4px;
    width: calc(100% - 20px);
    min-height: 100px;
    padding: 10px;
    margin: 10px 0;
    color: $light;
  }
  button {
    right: 0;
    cursor: pointer;
    @include fontSize2;
    padding: 0;
    background: transparent;
    color: $accent;
    outline: none;
    border: none;
  }
}

.lastUpdated {
  text-align: center;
  @include fontSize0;
  margin: 40px 0;
  color: $accentFaded;
}

.links {
  width: 100%;
  text-align: center;
  .social_icon {
    cursor: pointer;
    padding: 5px;
    display: inline-block;
    @include fontSize0;
    list-style-type: none;
    .icon {
      background: $accentFaded;
    }
    &:hover {
      .icon {
        background: $accent;
      }
    }
  }
}

.gallery {
  background: white;
  margin: 0 auto;
  text-align: center;
  .galleryBox {
    height: calc(100vh - 100px);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    @include breakpoint(s) {
      height: 50vh;
      padding: 10px;
      &.half {
        height: 60vh;
      }
    }
    &.half {
      @include breakpoint(desktop) {
        display: inline-flex;
        width: calc(50% - 50px);
        padding: 50px 0;
      }
    }
    img {
      display: inline-block;
      max-width: 1400px;
      max-height: 1000px;
      height: calc(100% - 100px);
      width: 100%;
      margin: 0 auto;
      object-fit: contain;
      object-position: center;
      @include breakpoint(s) {
        height: 100%;
      }
    }
    &.text {
      height: 55vh;
      a {
        border: none;
      }
    }
  }
}

.arrowBox {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 1800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  .arrowBar {
    pointer-events: all;
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &#leftBar {
      left: 0; 
    }
    &#rightBar {
      right: 0;
    }
    @include breakpoint(s) {
      display: none;
    }
    .icon {
      margin: 20px auto;
      background: #000;
      opacity: .12;
      &.left {
        left: 10px;
      }
      &.right {
        right: 10px;
      }
    }
    &:hover {
      .icon {
        opacity: .20;
      }
    }
    &.hide {
      visibility: hidden;
    }
  }
}