.icon {
  background: $accent;
  width: 25px;
  height: 25px;
  -webkit-mask-size: contain;
  &.github {
    -webkit-mask-image: url("../assets/instagram_logo.svg");
    mask-image: url("../assets/instagram_logo.svg");
  }
  &.instagram {
    -webkit-mask-image: url("../assets/github_logo.svg");
    mask-image: url("../assets/github_logo.svg");
  }
  &.left {
    -webkit-mask-image: url("../assets/left.svg");
    mask-image: url("../assets/left.svg");
  }
  &.right {
    -webkit-mask-image: url("../assets/right.svg");
    mask-image: url("../assets/right.svg");
  }
}