<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{page.title}}</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div class="centered">
    <div class="intro">
      {% for img in page.intro %}
        <div class="image" id="{{ img.id }}"></div>
      {% endfor %}
    </div>
    <div class="work">
        {% for img in page.work %}
          <div class="image" id="{{ img.id }}"></div>
        {% endfor %}
      </div>
    <div class="contact">
        {% for img in page.contact %}
          <div class="image" id="{{ img.id }}"></div>
        {% endfor %}
      </div>
  </div>
</body>
</html>