<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{page.title}}</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div class="centered">
    <div class="main">
      <div class="image" id="name"></div>
      <!-- <div class="image" id="city"></div> -->
      <!-- <div class="image" id="insta"></div> -->
      <!-- <div class="image" id="roof"></div> -->
      <!-- <div class="image" id="camera"></div> -->
    </div>
  </div>
</body>
</html>