<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script type="text/javascript" src="index.js"></script>
</head>

<body>
  <div class="centered">
    <div id="intro">
      <div>
        <span class="name">Tyler Hayes</span>
        <span class="is">is...</span>
      </div>
      {% for item in page.transitionItems %}
      <span id="{{ forloop.index }}" class="transitionItem fade">{{item }}</span>
      {% endfor %}
    </div>
    {% for section in page.sections %}
      {% include section.html %}
    {% endfor %}
    {% include contact.html %}
    <div class="lastUpdated">brewed {{ site.lastUpdated }}</div>
    {% include links.html %}
  </div>
</body>

</html>